#popup_body img {
    max-width: 100%;
    margin-bottom: 25px;
    box-shadow: rgba(0,0,0,.3) 1px 1px 5px 2px;
}

#popup_body p {
    font-size: 1.5em;
}

#popup_body {
    padding: 25px;
}

#myModal {
    max-width: 100%;
}