@font-face {
    font-family: "Forte_VR";
    src: url(./fonts/Forte_vr.ttf) format("truetype");
}

@font-face {
    font-family: "Magneto Bold";
    src: url(./fonts/MAGNETOB.ttf) format("truetype");
}

@font-face {
    font-family: "Supermolot-ThinItalic";
    src: url(./fonts/Supermolot-ThinItalic.ttf) format("truetype");
}

body
{
    background-color: white;
}

body > .row
{
    margin-left:15px;
    margin-right:15px;
}

.main {

}

.header {
}

.logos {
    background-color: #c13a2c;
}

.logo {
    text-align: center;
}

.logo > img {
    height: 120px;
}

.olly_man {
    text-align: center;
}

.olly_man > img {
    height: 120px;
    position: relative;
    top:8px;
}

div[class="*-button"] {
    font-family: Forte_VR;
    color: white;
    background-color: red;
}
