:root {
    --red-color: #c13a2c;
    --blue-color: #2c3e50;
}


@font-face {
    font-family: Forte_VR;
    src: url(../fonts/Forte_vr.ttf) format("truetype");
}

@font-face {
    font-family: 'Magneto Bold';
    src: url(../fonts/MAGNETOB.ttf) format("truetype");
}

@font-face {
    font-family: SupermolotThinItalic;
    src: url(../fonts/SupermolotThinItalic.ttf) format("truetype");
}

body
{
    background-color: white;
}

body > .row {
   margin-left: 15px;
   margin-right: 15px;
}

.main {

}

.header {
}

.logos {
    background-color: var(--red-color);
}

.logo {
    text-align: center;
}

.logo > img {
    height: 120px;
}

.olly_man {
    text-align: center;
}

.olly_man > img {
    height: 120px;
    position: relative;
    top:8px;
}

.menu {
    margin-top: 10px;
}

.menu-button {
    font-family: SupermolotThinItalic;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    color: var(--red-color);
    text-align: center;
    margin-right:5px;
    margin-left:5px;
    height: 70px;
    border-radius: 10px 10px 0 0;
    padding-top: 5px;
}

@media(max-width: 767px) {
    .menu-button {
        border-radius: 10px;
        margin-bottom: 10px;
        height: 40px;
    }
}

.menu-button:hover, .active {
    color: white;
    background-color: var(--red-color);
    cursor: pointer;
}

.active:hover {
    cursor: default;
}
